body {
  padding-top: 3.5rem;
}

.img-card {
  opacity: 0.3;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.fig-card {
  opacity: 0.3;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.fig-overlay {
  transition: .5s ease;
  margin: 150px 0;
  opacity: 0;
}

.card-container:hover .img-card  {
  opacity: 1;
}

.card-container:hover .overlay {
  opacity: 1;
}

.fig-container:hover .fig-card {
  opacity: 1;
}

.fig-container:hover .fig-overlay {
  opacity: 1;
}

.card-dashed {
  border-style: dashed;
  border-width: 2px;
}

.card {
  margin-bottom: 20px;
}

h1{font-size: 2.5rem}
h4{font-size: 1.2rem}
p{font-size: 1.1rem}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1{font-size: 3rem}
  h4{font-size: 1.4rem}
  p{font-size: 1.15rem}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1{font-size: 3.5rem}
  h4{font-size: 1.85rem}
  p{font-size: 1.2rem}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1{font-size: 4rem}
  h4{font-size: 2rem}
  p{font-size: 1.4rem}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1{font-size: 4.5rem}
  h4{font-size: 2.5rem}
  p{font-size: 1.5rem}
}
